{
  "extends": ["react-app", "plugin:import/errors", "plugin:import/warnings"]
  // "plugins": ["react-hooks"],
  // "rules": {
  //   // "react-hooks/rules-of-hooks": "error",
  //   // "react-hooks/exhaustive-deps": "warn"
  // }
}
